# Module 6: Introduction to Data Analysis Tools in Python

## Assignment 6.1 Introduction to Data Analysis

### 6.2. Supplementary Activity

Run the given code and generate a list of 100 values.

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

### Exercise 1

Using the generated data, calculate the following statistics without importing anything from the statistics module in the standard library (and without using pandas/numpy).

Once you have computed for each, compare your obtained output with the output when using the statistics module.

In [2]:
import pandas as pd
import numpy as np

**mean**

In [3]:
# Calculate the mean
mean = sum(salaries)/len(salaries)
print(mean)

585690.0

In [4]:
# Calculate the mean using numpy
mean_np = np.mean(salaries)
print(mean_np)

585690.0

**median**

In [5]:
# Calculate the mean using numpy
salaries.sort()
n = len(salaries)
if n % 2 == 0:
    median = (salaries[n//2 - 1] + salaries[n//2]) / 2
else:
    median_value = salaries[n//2]
print(median)

589000.0

In [6]:
median_np = np.median(salaries)
print(median_np)

589000.0

**mode**

In [7]:
# Calculate mode
frequency = {}
for amount in salaries:
    if amount in frequency:
        frequency[amount] += 1
    else:
        frequency[amount] = 1
    
max_count = max(frequency.values())

# Find the value(s) that occur most frequently
mode = [key for key, count in frequency.items() if count == max_count]
    
print(mode)

[477000.0]

In [8]:
# Calculate mode using stats module
from scipy import stats

mode_stat = stats.mode(salaries)
print(mode_stat)

ModeResult(mode=np.float64(477000.0), count=np.int64(3))

**Sample Variance**

In [9]:
# Calculate variance
mean = sum(salaries)/len(salaries)
squared_diffs = [(amount - mean) ** 2 for amount in salaries]
variance = sum(squared_diffs) / (len(salaries) - 1)
print(variance)

70664054444.44444

In [10]:
# Calculate variance using numpy
variance_np = np.var(salaries, ddof=1)
print(variance_np)

70664054444.44444

**Sample Standard Variation**

In [11]:
# Calculate Sample Standard Variation
import math

std_dev = math.sqrt(variance)
print(std_dev)

265827.11382484

In [12]:
# Calculate Sample Standard Variation using numpy
std_dev_np = np.std(salaries, ddof=1)
print(std_dev_np)

265827.11382484

### Exercise 2

Using the previously generated data, calculate the following using the functions in the statistics module where appropriate.

**Range**

In [13]:
salaries_range = max(salaries) - min(salaries)
print(salaries_range)

995000.0

**Coefficient of Variation**

In [14]:
# Coefficient of variation = (standard deviation / mean) * 100
salaries_cv = (std_dev/mean)*100
print(salaries_cv)

45.38699889443903

**Interquartile Range**

In [15]:
from scipy.stats import iqr
salaries_iqr = iqr(salaries)
print(salaries_iqr)

413250.0

**Quartile Coefficient of Dispersion**

In [16]:
# qcd = (q3 - q1)/(q3 + q1)
q1 = np.percentile(salaries,25)
q3 = np.percentile(salaries,75)

salaries_qcd = (q3 - q1)/(q3 + q1)
print(salaries_qcd)

0.338660110633067

### Exercise 3

Load the diabetes.csv file and perform the following task:

In [29]:
file_path = 'data/diabetes.csv'
df = pd.read_csv(file_path)

1. Identify the column names.

In [30]:
df.columns.tolist()

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

2. Identify the data types of the data.

In [31]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

3. Display the total number of records.

In [32]:
df.shape[0]

768

4. Display the first 20 records.

In [33]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

5. Display the last 20 records.

In [34]:
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

6. Change the Outcome column to Diagnosis.

In [35]:
df.rename(columns={'Outcome': 'Diagnosis'}, inplace=True)
display(df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

7. Create a new column Classification that display "Diabetes" if the value of outcome is 1, otherwise "No Diabetes".

In [37]:
df['Classification'] = np.where(df['Diagnosis'] == 1, 'Diabetes', 'No Diabetes')
display(df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

8. Create a new dataframe "withDiabetes" that gathers data with diabetes.

In [39]:
withDiabetes_df = df[df['Diagnosis'] == 1]
display(withDiabetes_df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1,Diabetes
757,0,123,72,0,0,36.3,0.258,52,1,Diabetes
759,6,190,92,0,0,35.5,0.278,66,1,Diabetes
761,9,170,74,31,0,44.0,0.403,43,1,Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes

9. Create a new dataframe "noDiabetes" that gathers data with no diabetes.

In [43]:
noDiabetes_df = df[df['Diagnosis'] == 0]
display(noDiabetes_df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes
...,...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0,No Diabetes
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

10. Create a new dataframe "Pedia" that gathers data with age 0 to 19.

In [45]:
pedia_df = df[df['Age'] <= 19]
display(pedia_df)

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Classification]
Index: []

11. Create a new dataframe "Adult" that  gathers data with age greater than 19.

In [46]:
adult_df = df[df['Age'] > 19]
display(adult_df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

12. Use numpy to get the average age and glucose value.

In [48]:
ave_age = np.mean(df['Age'])
ave_glucose = np.mean(df['Glucose'])

print(ave_age)
print(ave_glucose)

33.240885416666664
120.89453125

13. Use numpy to get the middle values of glucose and age.

In [49]:
median_age = np.median(df['Age'])
median_glucose = np.median(df['Glucose'])

print(median_age)
print(median_glucose)

29.0
117.0

14. Use numpy to get the standard deviation of the skinthickness.

In [51]:
std_skinthickness = np.std(df['SkinThickness'])
print(std_skinthickness)

15.941828626496939

### Chosen Dataset

On your chosen dataset, perform the following:

1. Load the data, check the information on the dataset.

2. Display the first 10 and last 10 rows.

3. Choose a column with a numerical value, change its type to int64 and store in a new column.

4. Choose a column with a non-numerical value (that can act as a category), create a new column that contains the mapped values of the categorical column from 0 to n-1. (E.g. Iris-Setosa is 0, Iris-versicolor is 1, Iris-virginica is 2).

5. Create a column that would have the value YES or NO depending on a conditional statement you will create based on values in the dataset. (E.g. "Age > 18 == Adult | YES OR NO")

### 6.3 Conclusion